/CaractereInvalidoException.class
/CharMalFormadoException.class
/EOF.class
/EOFemComentarioMultilinha.class
/ExclamacaoSemIgualException.class
/FloatMalFormadoException.class
/tokenInvalido.class
